pybit
python-dotenv
pytest
mock
fastapi
uvicorn
pandas
google-genai
sqlalchemy
jinja2
plotly
requests
httpx
python-multipart
scikit-learn
joblib
passlib
bcrypt==3.2.2
pyjwt
qrcode
pillow
pyinstaller
pystray
feedparser
pyarrow
